{% extends "base.html" %}
{% block title %}Episode Details{% endblock %}
{% block content %}
<h2> {{ episode.name }} (S{{ episode.season }},  Ep{{episode.number}}) </h2>
<div class="row">
	<div class="span6">
		<h4> Plot </h4>
		<div class="well">
			<blockquote> <p> {{ episode.plot }} </p> </blockquote>
		</div>
		<p><a href= {{ episode.video_link }} target="_blank" class="btn btn-primary btn-large">Watch Episode &raquo;</a></p>
		<br />
	</div>
	<div class="span6">
		<h4> Quotes </h4>
		<div class="well">
			<blockquote>
				<p>
					{% for q in episode.comedyquote_set.all %}
					<a href ="/quotes/{{q.id}}">{{ q|truncatechars:60 }}</a>
					<br />
					<br />
					<hr>
					{% endfor %}
				</p>
			</blockquote>
		</div>
	</div>
</div>
{% endblock %}
