{% extends "base.html" %}
{% block title %}Episode Details{% endblock %}
{% block content %}
<h2> {{ episode.name }} (S{{ episode.season }},  Ep{{episode.number}}) </h2>
<div class="center">
<p>
    <h4> Plot </h4>
    <blockquote> {{ episode.plot }} </blockquote>
<ul>
    <a href= {{ episode.video_link }} >Watch this episode</a> 
</ul>
<h4> quotes </h4>
{% for q in episode.comedyquote_set.all %}
    <a href ="/quotes/{{q.id}}">{{ q|truncatechars:60 }}</a>
    <br />
    <br />
    <hr>
{% endfor %}
</p>
<p>
<a href="/quotes/random"> another quote please</a> 
&nbsp;
|
&nbsp;
<a href="/quotes/list">all quotes</a>
&nbsp;
|
&nbsp;
<a href="/episodes">episodes</a>
</p>
</div>
{% endblock %}
