<link rel="stylesheet" href="{{ STATIC_URL }}css/cq.css" />
<h1> Comedy Quote </h1>
<div class="center">
<div class="box">
<br />
<br />
<div class="text">
{% for line in formatted_quote %}
    <strong> {{ line.0 }} </strong> : 
    {{ line.1 }}
    <br />
    <br />
{% endfor %}
</div>
<br />
<br />
</div>
<ul>
    <li>Source: {{ quote.source }}</li>
    {% if quote.tv_series %}
    <br />
    <li>Series: {{ quote.tv_series }}</li>
    {% endif %}
    {% if quote.tv_episode %}
    <br />
    <li>Episode: {{ quote.tv_episode }}</li>
    {% endif %}
    {% if quote.title %}
    <br />
    <li>Title: {{ quote.title }}</li>
    {% endif %}
    {% if quote.book %}
    <br />
    <li>Book: {{ quote.book }} </li>
    {% endif %}
    {% if quote.author %}
    <br />
    <li>Author: {{ quote.author }} </li>
    {% endif %}
</ul>
<p>
<a href="/"> another quote please</a> 
&nbsp;
|
&nbsp;
<!-- <a href="/"> another quote please</a> -->
</p>
</div>
