{% extends "base.html" %}
{% block title %}Quote Details{% endblock %}
{% block content %}
<h2> Quote Details </h2>
<div class="center">
<div class="box">
<br />
<br />
<div class="text">
{% for line in formatted_quote %}
    <strong>{{ line.0 }}</strong>:
    {{ line.1 }}
    <br />
    <br />
{% endfor %}
</div>
</div>
<ul>
    <li>Source: {{ quote.source }}</li>
    {% if quote.tv_series %}
    <br />
    <li>Series: {{ quote.tv_series }}</li>
    {% endif %}
    <br />
    <li>Episode: Series {{ episode.season }}, Episode {{episode.number}} </li>
    <br />
    <li>Title: {{ episode.name }}</li>
    {% if quote.book %}
    <br />
    <li>Book: {{ quote.book }} </li>
    {% endif %}
    {% if quote.author %}
    <br />
    <li>Author: {{ quote.author }} </li>
    {% endif %}
</ul>
<p>
<a href="/quotes/random"> another quote please</a> 
&nbsp;
|
&nbsp;
<a href= {{ quote.video_link }} > watch video </a>
&nbsp;
|
&nbsp;
<a href="/quotes/list">all quotes</a>
&nbsp;
|
&nbsp;
<a href="/episodes">episodes</a>
</p>
</div>
{% endblock %}
