{% extends "base.html" %}
{% block title %}Random Quote{% endblock %}
{% block content %}
<h2> Random Quote </h2> 
<div class="center">
<div class="box">
<br />
<br />
<div class="text">
{% for line in quote %}
    <strong>{{ line.0 }}</strong>:
    {{ line.1 }}
    <br />
    <br />
{% endfor %}
</div>
</div>
<br />
<br />
</div>
<p>
<a href="/quotes/{{ id }}/">details</a> 
&nbsp;
|
&nbsp;
<a href="/quotes/random">another quote please</a> 
&nbsp;
|
&nbsp;
<a href= {{ rand_quote_obj.episode.video_link }} target="_blank">watch video</a>
&nbsp;
|
&nbsp;
<a href="/quotes/list">all quotes</a>
&nbsp;
|
&nbsp;
<a href="/episodes">episodes</a>
</p>
{% endblock %}
