{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Jeeves and Wooster</h1>
        <p>This website provides information about the corkingly good TV series,
        Jeeves and Wooster.</p>
        <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Episodes</h2>
          <p>Jeeves and Wooster was aired over 6 series, comprising 26 episodes. </p>
          <p><a class="btn" href="/episodes">Episode Directory &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Quotes</h2>
          <p>Every line in Jeeves and Wooster is amazing, I've picked out some
          of the best for your enjoyment. </p>
          <p><a class="btn" href="quotes/random">Random Quote &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Characters</h2>
          <p>Coming soon. </p>
        </div>
      </div>

      <hr>
{% endblock %}
